.header {
    grid-area: h;
    background-color: green;
}

.header__userLogin {
    color: white;
    margin-right: 10px;
}

.header img {
    width: 20px;
    /* min-width: 100%; */
}

.loginBlock {
    float: right;
}

.loginBlock a{
    color: white;
}