.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs .active{
    color: rgb(177, 151, 5);
}

.dialogsItems {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}